body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}
.buttons{
    position: absolute;
    top: 10px;
    left: 10px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    height: 512px;
    width: 512px;
}
.square{
    background-color: blue;
    height: 32px;
    width: 32px;
    border: 1px solid black;
    box-sizing: border-box;
    transition: background-color 0.2s;
}